extends layout

block content
  .page-header: h1 ochat

  ul.list-group#message-list

  .input-group
    input#message-field.form-control(type='text', autofocus)
    span.input-group-btn
      button#message-send-button.btn.btn-primary(type='button') Send

  script#message-template(type="text/template").
    <li class="list-group-item"><%= message %></li>
