extends layout

block content
  ul.list-group#message-list

  .input-group
    input#message-field.form-control(type='text', autofocus)
    span.input-group-btn
      button#message-send-button.btn.btn-primary(type='button') Send

  script#message-template(type="text/template").
    <li class="list-group-item">
      <b><%= name || 'Guest' %>:</b>
      <%= message %>
    </li>
