doctype html
html
  head
    title ochat
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css')
  body
    nav.navbar.navbar-default.navbar-static-top(role='navigation')
      .navbar-brand ochat
      button.btn.btn-primary.navbar-btn(data-toggle='modal', data-target='#profile-modal')
        span.glyphicon.glyphicon-user
        |  Profile

    .container: block content

    script(src='http://code.jquery.com/jquery-2.1.0.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/client.js')
